img {
  display: block;
}

.container {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

.btn:focus {
  outline: 0.5rem auto #4d90fe;
}

.visually_hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Gallery Section */

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.gallery_item {
  position: relative;
  flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
}

.gallery_item:hover .gallery_item_info,
.gallery_item:focus .gallery_item_info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.gallery_item_info {
  display: none;
}

.gallery_item_info li {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
}

.gallery_item_likes {
  margin-right: 2.2rem;
}

.gallery_item_type {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa_clone,
.fa_comment {
  transform: rotateY(180deg);
}

.gallery_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Loader */

.loader {
  width: 5rem;
  height: 5rem;
  border: 0.6rem solid #999;
  border-bottom-color: transparent;
  border-radius: 50%;
  margin: 0 auto;
  animation: loader 500ms linear infinite;
}

/* Media Query */

@media screen and (max-width: 40rem) {
  .profile {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0;
  }

  .profile::after {
    display: none;
  }

  .profile_image,
  .profile_user_settings,
  .profile_bio,
  .profile_stats {
    float: none;
    width: auto;
  }

  .profile_image img {
    width: 7.7rem;
  }

  .profile_user_settings {
    flex-basis: calc(100% - 10.7rem);
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
  }

  .profile_user_name {
    font-size: 2.2rem;
  }

  .profile_edit_btn {
    order: 1;
    padding: 0;
    text-align: center;
    margin-top: 1rem;
  }

  .profile_edit_btn {
    margin-left: 0;
  }

  .profile_bio {
    font-size: 1.4rem;
    margin-top: 1.5rem;
  }

  .profile_edit_btn,
  .profile_bio,
  .profile_stats {
    flex-basis: 100%;
  }

  .profile_stats {
    order: 1;
    margin-top: 1.5rem;
  }

  .profile_stats ul {
    padding-inline-start: 0px;
    display: flex;
    text-align: center;
    padding: 1.2rem 0;
    border-top: 0.1rem solid #dadada;
    border-bottom: 0.1rem solid #dadada;
  }

  .profile_stats li {
    font-size: 1.4rem;
    flex: 1;
    margin: 0;
  }

  .profile_stat_count {
    display: block;
  }
}

/* Spinner Animation */

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

/*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 

*/

@supports (display: grid) {
  .profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 3rem;
    align-items: center;
  }

  .profile_image {
    grid-row: 1 / -1;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 2rem;
  }

  .profile_image,
  .profile_user_settings,
  .profile_stats,
  .profile_bio,
  .gallery_item,
  .gallery {
    width: auto;
    margin: 0;
  }

  @media (max-width: 40rem) {
    .profile {
      grid-template-columns: auto 1fr;
      grid-row-gap: 1.5rem;
    }

    .profile_image {
      grid-row: 1 / 2;
    }

    .profile_user_settings {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 1rem;
    }

    .profile_edit_btn,
    .profile_stats,
    .profile_bio {
      grid-column: 1 / -1;
    }

    .profile_user_settings,
    .profile_edit_btn,
    .profile_settings_btn,
    .profile_bio,
    .profile_stats {
      margin: 0;
    }
  }
}
